<?xml version="1.0"?>

<model>
  <name>road_plane_3_v2</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Miguel and Alberto</name>
    <email>duckfrost@theconstructsim.com</email>
  </author>

  <description>
    A road textured plane. Version 2
  </description>

</model>
